header{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
}
.head-left-btn{
    display: flex;
    width: 25%;
    justify-content: flex-start;
}
.head-right-btn{
    display: flex;
    width: 25%;
    justify-content: flex-end;

}
.head-text{
    display: flex;
    width: 50%;
    font-size: 25px;
    justify-content: center;

}
.next-btn,.prev-btn{
    width: 30%;
    font-size: 30px;

}